#barra-menu {
  margin: auto;
  display: block;
  list-style: none;
}

#barra-menu li {
  display: inline-block;
  width: 18%;
}

#barra-menu button {
  border: none;
  height: 45px;
  width: 100%;
}

.selected {
  background-color: #282828;
  color: white;
  transition: 1s;
}

.selected:hover {
  background-color: #bbbbbb;
}

.non-selected {
  background-color: #f5f5ec;
  transition: 1s;
}

.non-selected:hover {
  background-color: #bbbbbb;
  color: white;
}

.img-carousel {
  width: 100%;
}

#titulo {
  padding-top: 3%;
}

.div-texto-central {
  margin: auto;
  float: none;
}
