@media (max-width: 615px) {
  #barra-menu button {
    display: inline;
    border: none;
    height: 45px;
    width: 100%;
  }
}

@media (min-width: 616px) {
  #barra-menu button {
    display: inline;
    border: none;
    height: 45px;
    width: 19%;
  }
}

.selected {
  background-color: #282828;
  color: white;
  transition: 1s;
}

.selected:hover {
  background-color: #bbbbbb;
}

.non-selected {
  background-color: #f5f5ec;
  transition: 1s;
}

.non-selected:hover {
  background-color: #bbbbbb;
  color: white;
}

.img-carousel {
  width: 100%;
}

#titulo {
  padding-top: 3%;
}

.div-texto-central {
  margin: auto;
  float: none;
}
